{% extends 'base.html.twig' %}

{% block title %}New Issuer{% endblock %}

{% block body %}
    <h1>Create new Issuer</h1>

    {{ include('issuers/issuer/_form.html.twig') }}

    <a href="{{ path('app_issuers_issuer_index') }}">back to list</a>
{% endblock %}
